

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 3%;
	}

	.steps-box:last-child {
		margin-top: 100px;
	}

}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {

.container {
	width: 100%;
}

.my-body {font-size: 18px;}

section {padding: 60px, 0;}

.long-copy {
	width: 80%;
	margin-left: 10%
}

.section-works {
	padding-top: 60px;
	padding-bottom: 100px;
}


.form-horizontal {
	width: 80%;
	margin: auto;
}

}


 /* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

.nav {
	margin-top: 0;
}

.navbar-list > li {
	border-bottom: 0;
	border-top: 0;
	transition: none;
}

.navbar-list > li:hover,
.navbar-list > li:active, {
		border-bottom: 0;
		border-top: 0;
}

.showcase > li {
	display: inline-block;
	float: none;
	width: 47%;
	border: 5px double #E5E5E5
}

.showcase {
	text-align: center;
}

.portfolio-photo h5 {
	word-spacing: 3px;
	font-size: 110%;
	padding: 18%;
	width: 75%;
	top: 45%;
}

.steps-box:first-child {
    text-align: center;
}

}

/* Extra Small Devices, Phones */ 

@media only screen and (max-width: 480px) {

h1 {
	font-size: 200%;
	word-spacing: 2px;
}

.form-horizontal {
	width: 90%;
	margin: auto;
}

}



/* Diminuir tamanho das fontes, arrumar colunas, paddings de containers e rows, diminuir os
espaços brancos */