<template name="portfolio">
	<section class="section-portfolio" id="portfolio">
		<ul class="showcase clearfix">
			<li>
				<figure class="portfolio-photo">
					<img src="/images/1.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="portfolio-photo">
					<img src="/images/2.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="portfolio-photo">
					<img src="/images/3.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="portfolio-photo">
					<img src="/images/4.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="portfolio-photo">
					<img src="/images/5.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="portfolio-photo">
					<img src="/images/6.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="portfolio-photo">

					<img src="/images/7.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure class="portfolio-photo">
					<img src="/images/8.jpg" alt="Food">
					<figcaption>
						<h5>Korean bibimbap with egg and vegetables</h5>
					</figcaption>
				</figure>
			</li>
		</ul>
	</section>
</template>