<template name="about">
		<section class="section-about js-section-about" id="about">
			<div class="container">
			<div class="row">
				<h2>Everything about this base project</h2>
				<p class="long-copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
			</div>
			<div class="row first-list js-wp-1">
				<div class="col-lg-3 col-md-3 col-sm-3">
				<i class="fa fa-microphone list-icon"></i>
					<h3>Ready in 20 minutes</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<i class="fa fa-paint-brush list-icon"></i>
					<h3>Hum, yummy food</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<i class="fa fa-lightbulb-o list-icon"></i>
					<h3>Organic Food</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<i class="fa fa-film list-icon"></i>
					<h3>Order now!</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
			</div>
				</div>
		</section>

</template>