<template name="about">
		<section class="section-about js-section-about" id="about">
		<div class="row banner-row">
					<img src="/images/banner/banner2.png" alt="Banner" class="banner js-banner">
				</div>
			<div class="container">
				<div class="row">
					<h2>Bem vindo ao Siga Livre!</h2>
					<p class="long-copy">Aqui, você encontra um Mapa de Carreira que apresenta de forma clara a estrutura de cargos e atividades da AES, com os Pontos de Evolução - requisitos necessários (formação, conhecimentos, experiências e idiomas necessários) para trilhar o seu caminho.</p>
				</div>
				<div class="row row-about">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 box box-planeje">
						<h4>Na AES, desenvolvemos os nossos colaboradores todos os dias.</h4>
						<a href="#planeje" class="btn btn-primary">Planeje sua Carreira!</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 box box-objetivos">
						<p>O objetivo da ferramenta é definir o nível hierárquico e o valor relativo dos cargos ou papéis para a AES, assim como possíveis trajetórias de crescimento profissional. O Siga Livre existe desde 2009 e possui aproximadamente 2 mil acessos por ano. Nossa média de aproveitamento de colaboradores internos é de 40%, e esta ferramenta é fundamental para te mostrar o caminho certo.</p>
					</div>
				</div>
			</div>
		</section>
</template>

