<template name="criterios">
    <section class="section-criterios" id="criterios">
        <div class="container container-criterios">
            <div class="row">
                <h2>Critérios</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 steps-box">
                    <div class="works-step step-one">
                        <div>1</div>
                        <p>Existência de vaga e solicitação formal via sistema pelo Gestor da vaga;</p>
                    </div>
                    <div class="works-step step-two">
                        <div>2</div>
                        <p>Avaliação de Desempenho igual ou superior a: atende aos padrões na posição atual;</p>
                    </div>
                    <div class="works-step step-three">
                        <div>3</div>
                        <p>Atendimento das exigências definidas para cada posição:</p>
                    </div>
                    <div class="bracket"></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box icons-box">
                    <div class="row grid-square box-1">
                        <i class="fa fa-graduation-cap"></i>
                        <h3>Formação</h3>
                        <p>Pré-requisito educacional para assumir o cargo.</p>
                    </div>
                    <div class="row grid-square box-2">
                        <i class="fa fa-book"></i>
                        <h3>Conhecimentos</h3>
                        <p>Adquirir no período que exerce suas atividades, novos conhecimentos técnicos, determinados pela empresa, necessários para o crescimento de nível profissional.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box icons-box">
                    <div class="row grid-square box-3">
                        <i class="fa fa-briefcase"></i>
                        <h3>Experiência Profissional</h3>
                        <p>Desempenhas as atividades de sua posição atual com qualidade e maturidade, apresentando capacidade e habilidade para assumir as rotinas relativas ao novo cargo. Ter atuação em posições similares compatível ao tempo estipulado para a nova posição.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
