<template name="header">
	<header id="home">
		<nav class="navbar navbar-default">
			<div class="container-fluid navbar-container">
				<div class="navbar-header navbar-left">
					<img src="/images/logo-white.png" alt="logo" class="logo">
				</div>
				<div>
					<ul class="nav navbar-nav navbar-right navbar-list">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About Me</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#form">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="hero-text-box">
			<h1>The best website ever.<br> This is the base project master.</h1>
			<button class="btn btn-primary">More action</button>
			<button class="btn btn-default">Less action</button>
		</div>
	</header>
</template>