<template name="howItWorks">
	<section class="section-works" id="works">
		<div class="container">
			<div class="row">
				<h2>How it works &mdash; Simple as 1, 2, 3</h2>
			</div>
			<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xm-12 steps-box">
					<img src="/images/iphone.png" alt="Iphone" class="app-screen">
				</div>
				<div class="col-lg-5 col-md-5 col-sm-6 col-xm-12 steps-box">
					<div class="work-steps">
						<div>1</div>
						<p class="p-list">Choose the best plan for you.</p>
					</div>
					<div class="work-steps">
						<div>2</div>
						<p class="p-list">You will love our selection of food.</p>
					</div>
					<div class="work-steps">
						<div>3</div>
						<p class="p-list">Be healty, be thin, be wonderfull.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>