<template name="cargos">
    <section class="section-cargos" id="cargos">
        <div class="container container-cargos">
            <div class="row">
                <h2>Estrutura de Cargos</h2>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 cargos-box">
                    <ul class="nav nav-pills cargos-pills">
                        <li class="active">
                            <a data-toggle="pill" href="#tecnico">
                                <img src="https://maxcdn.icons8.com/Color/PNG/96/Users/worker-96.png" title="Worker" width="96">
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#superior">
                                <img src="https://maxcdn.icons8.com/Color/PNG/96/Business/businesswoman-96.png" title="Businesswoman" width="96">
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#gestao">
                                <img src="https://maxcdn.icons8.com/Color/PNG/96/Business/businessman-96.png" title="Businessman" width="96">
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tecnico" class="tab-pane fade in active">
                            <h3>Operacional - Técnico - Administrativo</h3>
                            <p>Cargos que exigem formação técnica e/ou estão envolvidos nas atividades
                                <br> de Suporte Técnico/Administrativo.</p>
                            <ul class="lista-cargos">
                                <li>Técnico</li>
                                <li>Oper. CDS</li>
                                <li>Assistente</li>
                                <li>Eletricista</li>
                                <li>Atendente</li>
                            </ul>
                        </div>
                        <div id="superior" class="tab-pane fade">
                            <h3>Formação Superior</h3>
                            <p>Cargos que exigem formação em nível superior.</p>
                            <ul class="lista-cargos">
                                <li>Analista</li>
                                <li>Engenheiro</li>
                                <li>Gest. Clientes</li>
                            </ul>
                        </div>
                        <div id="gestao" class="tab-pane fade">
                            <h3>Gestão</h3>
                            <p>Cargos com responsabilidade por gestão de pessoas.</p>
                            <ul class="lista-cargos">
                                <li>Gerente</li>
                                <li>Coordenador</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-7 col-xs-12 senioridades-box">
                    <div class="retangle-senioridades">
                        <div>Sp</div>
                        <p>Referência técnica para profissionais menos experiências em função do reconhecimento do seu alto grau de especificação.</p>
                    </div>
                    <div class="retangle-senioridades">
                        <div>Sr/III</div>
                        <p>Pleno domínio de sua função atuando em situações de alta complexidade.</p>
                    </div>
                    <div class="retangle-senioridades">
                        <div>Pl/II</div>
                        <p>Pleno domínio de sua função atuando em situações de média complexidade.</p>
                    </div>
                    <div class="retangle-senioridades">
                        <div>Jr/I</div>
                        <p>Cargos de entrada de cada carreira atuando em situações de menor complexidade.</p>
                    </div>
                </div>
            </div>
            </div>
    </section>
</template>
